[submodule "corpus"]
	path = corpus
	url = git@github.com:fullpass-4pass/pineforge-corpus.git
[submodule "benchmarks/assets"]
	path = benchmarks/assets
	url = git@github.com:fullpass-4pass/pineforge-benchmarks-assets.git
